.row-header{ 
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer { 
    background-color: black;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px ;
}

.jumbotron{
    padding:  50px 0 0 0  ;
    /* margin:70px 0 0 0 ; */
    background: #9575CD;
    color:floralwhite;
    background-image: url(/img/arba-minch-nechisar-national-park-768x288.jpg);
    background-repeat:repeat-x;
    background-attachment: fixed;
}

.address{
    font-size: 80%;
    margin: 0px ;
    color: #0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index: 0;
    background-color: rgb(247, 241, 241);
    background-color: white;
}
.navbar-dark{ 
    background-color: black;
    color: white;
    margin-right: 0;
}
.navbar-collapse{
    margin-right: 20;
    padding-right: 20;
}



.tab-content {
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 10px;

}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}